#contact-top {
    background-color: #427693;
    width: 100%;
    text-align: center;
    }
    
    #contact-top h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        color: white;
        padding: 10px 0 10px 0;
    }
    
    .line-style-2 {
        width: 50%;
        height: 3px;
        margin: 0 auto;
        background-color: white;
        margin-bottom: 75px;
    }
    
    
    #contactcards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    }
    
    #contactcards h2 {
        font-size: 25px;
        padding-bottom: 10px;
    }
    
    #contactcards p {
        font-family: 'Oswald', sans-serif;
        color: white;
        padding-bottom: 100px;
    }
    
    #emailformbod {
        background-color: #e6e6e6;
        padding: 100px 0 100px 0;
    }
    
    #email-form {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    
    
    form {
        text-align: left;
        padding: 20px 10px;
    }
    
    input,textarea,label {
        display: block;
        
    }
    
    .contact-form button {
        background-color: #427693;
        padding: 15px 7px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        border: none;
        margin-top: 10px;
    }
    
    
    
    input,textarea {
        color: black;
        width: 400px;
        border: none;
        border-radius: 3px;
        margin-top: 5px;
    }

    @media screen and (max-width: 576px) {
        #contactcards {
            flex-direction: column;
           align-items:flex-start;
        }

        .contactlinks {
            display: flex;
            justify-content: center;
            text-align: left;
        }

        .contactlinks-row2 {
            margin-left:  20px;
            margin-top: 10px;
        }

        input,textarea {
            width: 250px;
        }


    }