
#projects-top {
    background-image: url(images/Project-images/gdtopback.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects-top h1 {
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    padding: 100px 0 100px 25px;
   
}

#drink-campaign-head {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

#drink-campaign-head h1 {
    color:#427693;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    font-weight: 500;
    padding-left: 20px ;
}

.drink-campaign-largepic {
    display: flex;
    width: 70%;
    margin: 20px auto;
    justify-content: space-between;
}


#front-can-head {
    width: 27.4%;
    margin-right: 10px;
}

#poster-head {
    width: 72.6%;
}


#drink-campaign-main {
    display: grid;
    width:fit-content;
    margin: 20px auto 40px auto;
    grid-template: repeat(4, minmax(50px, 200px)) / repeat(5, minmax(50px, 200px));
    grid-gap: 10px;
    background-color: #e6e6e6;
    padding: 10px;
}

#photo1 {
    grid-column: 1 /5;
    grid-row: 1/3;

}

#photo5 {
    grid-column: 4/6;
}


/*i like how grid let you define an items size based on its column and row layout. you don't have to give the image a fixed size which is nice */

#first-photo {
    width: 100%;
    aspect-ratio:  2/1;
    object-fit: cover;
}

.twohundred {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#fourth-photo {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#fifth-photo {
    width: 100%;
    aspect-ratio:  2/1;
    object-fit: cover;
}


#otherwork {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.other-work-card {
    border: 7px solid #427693;
    max-width: 400px;
    margin: 20px 0;
    flex-grow: 1;
}

.other-work-card img {
    width: 100%;
    aspect-ratio:  1/1;
    object-fit: cover;
}

.other-work-card-content p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding: 10px;
}

.other-work-card-title {
    background-color: #427693;
    text-align: center;
}

.other-work-card-title h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 35px;
    padding: 10px 0;
}

#lordofflies {
    border: solid 1px black;
}

.work-button {
    background-color: #769342;
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;margin-left: 5px;
}

.work-button:hover {
    background-color:#934276;
}

.work-button:active {
    background-color: #93424d;
}

#more-work {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background-color: #e6e6e6;
    
}

#posters {
    display: flex;
   width: 100%;
   margin: 0 auto;
   justify-content: space-between;
   flex-wrap: wrap;
}


.poster-card img {
    height: 100%;
    aspect-ratio:  1/1;
    object-fit: cover;
}

#infographic {
    background-image: url(images/Project-images/infographicweb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 350px;
}

#wsuletter {
 background-image: url(images/Project-images/wsuletterweb.jpg);
 background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 350px;
}

#skiresortsite {
    background-image: url(images/Project-images/p7\ tweeeeet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 226px;

}

#postercomic {
background-image: url(images/Project-images/postercomicweb.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 350px;
width: 226px;
}

#usvsjapaninfographic {
 background-image: url(images/Project-images/America\ vs\ japan\ infographic.jpg);
 background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 226px;
}


#more-designs {
 display: flex;
 width: 100%;
 flex-flow: row wrap;
 justify-content: space-between;
 margin-top:50px;
}

.more-design-card {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 1;
    margin: 10px 0;
}

.more-design-card img {
    width: 100%;
    aspect-ratio:  1/1;
    object-fit: cover;
}

/*since I want content to be able to appear on top, I used background image. */
#web-comic {
    background-image: url(images/Project-images/comicpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-cityrun {
    background-image: url(images/Project-images/fallcityfunrunweb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#peaceofheart {
    background-image: url(images/Project-images/cardweb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#albumcover {
    background-image: url(images/Project-images/albumcoverweb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.more-design-card-content {
    background-color: #427693;
    opacity: 0.8;
    width: 100%;
    height: 30%;
    padding: 10px;
    
}

.more-design-card h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.more-design-card p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

/*the content which is a description of the project only shows up when hovered over. */

.more-design-card-content {
    display: none;
}

.more-design-card:hover > .more-design-card-content {
    display: block;
}

.more-design-card-content:hover {
    opacity: 1;
}


/* lots of media queries on this one. I really like flex-box but since it can only grow and shrink on the main axis that is declared, that makes it difficult to use for images that you want to keep the same proportion no matter what. */

@media screen and (max-width:992px){
    #drink-campaign-main {
        grid-template: repeat(5, minmax(50px, 200px)) / repeat(4, minmax(50px, 200px));
      }

      #photo1 {
        grid-area: 1 / 1 / 3 / 5;
      }

      #photo5 {
        grid-area: 5 / 3 / 6 / 5;
      }

      .other-work-card {
        width: 300px;
      }

      #wsuletter {
        width: 392px;
        height: 508px;
      }

      #infographic {
        width: 392px;
        height: 508px;
      }

      #skiresortsite {
        width: 250px;
        height: 387px;
      }

      #postercomic {
        width: 250px;
        height: 387px;
      }

      #usvsjapaninfographic {
        width: 250px;
        height: 387px; 
}

#more-designs{
    justify-content: center;
  }

  .drink-campaign-largepic {
    width: 90%;
  }


}


@media screen and (max-width: 768px) {
    #wsuletter {
        width: 325px;
        height: 421px;
        margin-bottom: 10px;
      }

      #infographic {
        width: 325px;
        height: 421px;
        margin-bottom: 10px;
      }


      #skiresortsite {
        width: 210px;
        height: 325px;
      }

      #postercomic {
        width: 210px;
        height: 325px;
      }

      #usvsjapaninfographic {
        width: 210px;
        height: 325px;
}

.drink-campaign-largepic {
    width: 95%;
  }


}




@media screen and (max-width:576px){
  #posters {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #skiresortsite,
  #postercomic,
  #usvsjapaninfographic {
    width: 270px;
    height: 418px;
    margin: 0 auto;
  }

  #wsuletter {
    width: 270px;
    height: 350px;
  }

  #infographic {
    width: 270px;
    height: 350px;
  }

  #more-designs{
    justify-content: center;
  }

  .more-design-card {
    width: 300px;
    height: 300px;
  }

  #drink-campaign-main {
    display: grid;
    grid-template: repeat(7, 150px) / 150px 150px;
  }

#photo1 {
    grid-area: 1 / 1 / 2 / 3;
}

#photo5 {
    grid-area: 7 / 1 / 8 / 3;
}

.more-design-card-content {
    height: 50%;
}  

.drink-campaign-largepic {
    width: 95%;
  }

}